[Unit]
Description=First Rest App
After=cloud-final.service

[Service]
WorkingDirectory=/tmp/app_patch
ExecStart=/usr/bin/nodemon /tmp/app_patch/server.js
Restart=always
RestartSec=10
StandardOutput=file:/tmp/app_patch/csye6225.log
StandardError=syslog
SyslogIdentifier=app_patch
User=ec2-user

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target